{% extends 'base/base.html' %}

{% load static %}

{% block content %}

    <div class="container-index">
        <div class="container-init-section">
            {% include "../base/search.html" %}
        </div>

        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {%if message.tags == 'success'%}alert-success{%else%}alert-danger{%endif%}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="container-data-doc">
            {% for card in score %}
                {{ card | safe}}
            {% endfor %}
        </div>
    </div>

{% endblock content %}