{% load static %}
<footer>
    <div id="footer">
        <div class="row">
            <div class="col-6">
                <h3>Contáctanos</h3>
                <div>
                    <p>contacto@doctoronline.com</p>
                    <p>+52 55 DOC ONLINE</p>
                    <p>Ciudad de México</p>
                </div>
            </div>
            <div class="col-6">
                <h3>Soporte</h3>
                <div>
                    <p>Terminos y condiciones</p>
                    <p>Politica de privacidad</p>
                </div>
            </div>
        </div>

        <p class="p-text-derechos">Copyright 2023 Doctor Online. Todos los derechos reservados</p>
    </div>
</footer>