{% extends 'base/base.html' %}

{% load static %}

{% block content %}

    <div class="profile-container">
        <div class="profile-form-container">
            <div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {%if message.tags == 'success'%}alert-success{%else%}alert-danger{%endif%}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            {% include "./form_doctor.html" %}

        </div>
    </div>

{% endblock content %}
